header nav{
    background-color: #6EB3D0;
}

.bg-bluepersonal {
    background-color: #6EB3D0;
    color: white;
}

#adote {
    color: #f7b6d2;
}


.color-button{
    background-color: #f7b6d2;
    border: none;
}


footer {
    background-color: #6EB3D0;
    color: white;
}